:root {
    --mbg: rgba(11, 61, 112, .5) ;
    --accent-color: #822485;
    --green: 99, 40%, 58%;
    --yellow: 42, 88%, 64%;
    --orange: 30, 82%, 59%;
    --red: 3, 61%, 58%;
    --purple: 293, 29%, 50%;
    --blue: 202, 68%, 60%;
    --dark: 0, 0%, 18%;
    --light: 0, 0%, 95%;
}

/* navbar styling START */

nav {
  background-color: #000;
  box-shadow: 0 0 10px #000;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
}


.menu li {
  display: inline-block;
  padding: 5px 14px;
  list-style: none;
  font-size: 18px;
  margin-left: 0px;
  margin-bottom: 20px;
  color: #ffffff;
  text-transform: uppercase;
	font-weight: bold;
}

.menu a {
  padding: 5px;
  margin-right: 4px;
  text-decoration: none;
  /* border: 2px solid #fff; */
  background-color: #000;
  border-radius: 3px;
  text-transform: uppercase;
	font-weight: bold;
  color: #fff;
}

.menu a:hover {
  background-color: #fff;
  color: #000;
  transition: 0.3s ease;
}


/* navbar styling END */


.horizontalnav  {
    text-align: center;
}

.content-container  {
    border-width: 2px;
    border-style: none solid none solid;
    border-color: black;
    background-color: rgba(11, 61, 112, .5) ;
    /*filter: drop-shadow(0 0 0.75rem rgb(155, 149, 150));*/
}

.card-content-container-l  {
  border-width: 2px;
  border-style: none none none solid;
  border-color: black;
  background-color: rgba(11, 61, 112, .5) ;
  /*filter: drop-shadow(0 0 0.75rem rgb(155, 149, 150));*/
}

.card-content-container-r  {
  border-width: 2px;
  border-style: none solid none none;
  border-color: black;
  background-color: rgba(11, 61, 112, .5) ;
  /*filter: drop-shadow(0 0 0.75rem rgb(155, 149, 150));*/
}

.content-container-top  {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-radius: 5px 5px 0px 0px;
}

.content-container-bottom {
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.content-container-page-bottom {
  margin-bottom: 10px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-radius: 0px 0px 5px 5px;
}

.navigation-container   {
    border-width: 2px;
    border-style: solid solid solid solid;
    border-color: black;
    background-color: rgba(11, 61, 112, .5) ;
}

.fixed {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 999;
}

#revision-content-container   {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}

.tab {
    margin-left: 30px;
}

.marbot {
    margin-bottom: 16px;
}

.sh {
    transform: translateX(-5px);
}
h2:after{
    content: '';
    display: block;
    height: 8px;
    background: var(--accent-color);
    max-width: 55px;
    transform: skewX(-21deg) translateY(-6px) translateX(-12px);
    border-radius: 3px;
    margin-top: 8px;
  }

h3:after {
    content: '';
    display: block;
    height: 8px;
    background: var(--accent-color);
    max-width: 55px;
    transform: skewX(-21deg) translateY(-13px) translateX(-12px);
    border-radius: 3px;
    margin-top: 16px;
}

.nodec {
    list-style: none;
}

.navigation-container   {
    display: grid;
    place-items: center;
  }

.toggle-container   {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

*, *:before, *:after    {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.theme  {
    position: relative;
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    gap: 1rem;
    padding: .1rem 0.3rem;
    text-transform: uppercase;
    letter-spacing: .04em;
}
    .theme input    {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}

.theme--text    {
    user-select: none;
}
  .theme--btn {
    position: relative;
    pointer-events: none;
    width: 5.5rem;
    height: 3rem;
    border-radius: 100vw;
    box-shadow: inset 0px -1px 5px hsl(var(--dark), .2);
  }
  .theme--btn::after {
    content: '';
    position: absolute;
    top: 50%;
    left: .3rem;
    transform: translate3d(0, -50%, 0);
    transition: transform .2s cubic-bezier(0.96, -0.11, 0, 1.12);
    width: 2.5rem;
    height: 2.5rem;
    background-color: hsl(var(--dark));
    border-radius: 100vw;
    box-shadow: 0px 1px 2px hsl(var(--dark), .6);
  }
  .theme input:checked ~ .theme--btn::after {
    transform: translate3d(2.5rem, -50%, 0);
  }

  /* Cards */

  .card-container {
    display: flex;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 50px;
    margin-top: 40px;
}

.card {

    height: 500px;
    width: 300px;
    position: relative;
    background: #000;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    border-radius: 3px;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    box-shadow: 5px 5px 3px lightblue;

    
}

/*.card:hover {
    cursor: pointer;
    transform: rotateY(180deg);
}*/


.front {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgba(12, 75, 139, 0.5) ;
    backface-visibility: hidden;
    border-radius: 3px;
    color: white;
    text-align: center;
}

.front h3 {
  color: #fff;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    backface-visibility: hidden;
    background-color: rgba(12, 75, 139, 0.5) ;
    color: white;
    text-align: center;
    border-radius: 3px;
    transform: rotateY(180deg);
}

.flipCard {
  transform: rotateY(180deg);
}