body {
    background-image: url("../images/circle-g80746a6f3_1920.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
} 

.horizontalnav  {
    text-align: center;
}

.content-container  {
    background-color: rgba(11, 61, 112, .5) ;
    filter: drop-shadow(0 0 0.75rem rgb(155, 149, 150));
}

.fixed {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 999;
}


.forceheight {
    height: 320px;
}

/*
FLIP QUIZ CARDS----------------------------------------
*/

.container {
    display: flex;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 50px;
}

.card {

    height: 300px;
    width: 200px;
    position: relative;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    padding: 20px;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    box-shadow: 5px 5px 3px lightblue;
    
}

.card:hover {
    cursor: pointer;
    transform: rotateY(180deg);
}


.front {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgba(11, 61, 112, 1);
    backface-visibility: hidden;
    border-radius: 3px;
    color: #000;
    text-align: center;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    backface-visibility: hidden;
    background: purple;
    color: white;
    text-align: center;
    border-radius: 3px;
    transform: rotateY(180deg);
}

/*
FLIP QUIZ CARDS---------------------------------------
*/