<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/normalize.css" rel="stylesheet">
		<link href="css/templatestylesheet.css" rel="stylesheet">
    </head>
    <body>
        <div id="wrapper">
            <a id="top"></a>
            <header class="banner">
                <h1>template title</h1>
            </header>
            <nav class="horizontalnav">
                <ul>
                    <li><a href="">page2</a></li>
                    <li><a href="">page3</a></li>
                    <li><a href="">page4</a></li>
                    <li><a href="">page5</a></li>
                </ul>
            </nav>
            <main>
                <div class="internalwrapper">                       <!--Main container, nested inside wrapper for cascade formatting-->
                    <ul class="divlist fltrt">
                    <li><div class="imagewrapper fltrt">                <!--Image container, nested inside internalwrapper, floating right-->
                        <img src="images/placeholder250x250.png">
                    </div></li>
                    <li><div class="imagewrapper fltrt">                <!--Image container, nested inside internalwrapper, floating right-->
                        <img src="images/placeholder250x250.png">
                    </div></li>
                    </ul>
                    <div class="textwrapper">                       <!--Text goes here-->
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus mi sit amet dolor feugiat laoreet. Aliquam erat volutpat. Aenean feugiat, 
                        metus a mollis auctor, massa elit pellentesque tellus, auctor volutpat dui magna vitae est. Donec tempor velit sit amet odio condimentum, quis rhoncus 
                        lectus tempor. Ut ac lacinia lorem. Integer quis neque rhoncus, scelerisque arcu in, tristique neque. Aliquam suscipit non ligula a congue. Fusce magna 
                        ligula, malesuada a odio sagittis, dapibus ultrices nisi. Integer efficitur massa a dui pellentesque, vitae consectetur ligula dignissim. Duis sit amet 
                        porttitor mi. Nulla scelerisque felis nec mauris consectetur, quis consequat metus eleifend. Nullam vel massa turpis. Donec quis odio non orci pulvinar 
                        ultrices quis nec sem.

                        Curabitur maximus nunc a dui pellentesque, et ultricies lacus iaculis. Aenean rhoncus eu magna sit amet tristique. Maecenas vel erat maximus, vestibulum arcu 
                        et, rutrum urna. Integer vel lorem turpis. Curabitur tincidunt neque sed ante rhoncus, ut finibus nisl pulvinar. Phasellus id elit sed nisi ullamcorper 
                        viverra quis vel mi. Proin a mi ac mi placerat vulputate. Cras accumsan faucibus ipsum. Donec mi velit, congue eget ullamcorper vitae, iaculis ac nunc. Fusce 
                        tincidunt purus nec finibus molestie. Cras luctus eget turpis sed ultrices. Donec nec lobortis tellus, ut volutpat lorem. Morbi condimentum, eros sed 
                        fermentum euismod, nibh eros efficitur sapien, non pharetra leo nisi nec sem. Donec tristique eu elit non tempus. In congue ligula mauris, a imperdiet sem 
                        fringilla eu.
                        
                        Ut ac elementum sem. Nulla tempus vitae arcu et egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam 
                        ut diam sagittis, dapibus ligula vel, elementum est. Sed orci felis, imperdiet non ipsum at, tincidunt fermentum nunc. Pellentesque id suscipit leo. In dolor 
                        neque, tempor commodo ultricies in, placerat quis ex. Integer eleifend ultricies cursus. Nulla facilisi. Curabitur nec nunc eros. Pellentesque molestie lectus 
                        felis, volutpat luctus turpis gravida eu. Etiam et lacus neque.
                        
                        Integer in tortor enim. Maecenas rhoncus varius orci, vitae rutrum magna laoreet non. Fusce convallis leo et arcu imperdiet dignissim. Sed ac tincidunt nibh. 
                        Pellentesque suscipit dolor nec lacus convallis cursus. In non mauris gravida, ultrices tellus ut, ultricies metus. Aenean quis elit nec turpis lacinia 
                        pretium eu nec dolor. Mauris volutpat sit amet augue ac fermentum.
                        
                        Duis fermentum tincidunt posuere. Curabitur vestibulum arcu sit amet quam efficitur congue. Orci varius natoque penatibus et magnis dis parturient montes, 
                        nascetur ridiculus mus. Vestibulum id faucibus libero. Nullam commodo orci libero, quis sagittis urna venenatis gravida. Proin euismod, neque ac consequat 
                        rhoncus, sapien neque posuere tortor, vel luctus sapien ipsum eget purus. Aliquam iaculis aliquam congue. Duis dignissim dui pulvinar, accumsan felis at, 
                        vulputate neque. Cras gravida enim lacinia molestie posuere.
                    </p>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>